html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #1694c7;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    background:#16a085;
    text-decoration: none;
    color: #ffffff;
}

.active {
    background:#16a085;
    color: #ffffff;
}

@media(min-width:768px) {
    
    .nav-item {
        padding-top: 0.55em;
    }   
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler {
    background: #fff;
}